{% extends 'main.html' %}
{% load static %}
{% block title %}Contact-IZIFIND{% endblock title %}
{% block breadcrumb %}
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'customer/img/carousel-bg-2.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Contact</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class=" breadcrumb-item"><a href="/">Accueil</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="secondary text-uppercase">Contactez - nous</h6>
            <h1 class="mb-5">Joindre IZIFIND</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light text-center d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">Service Objet</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light text-center d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">Direction</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light text-center d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">Service technique</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <p class="mb-4">Envoyer un mail au service IZIFIND</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Votre nom">
                                    <label for="name">Nom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Votre Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Objet">
                                    <label for="subject">Objet</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}